.body1{
	margin: 0;
	padding: 0;
	height: 100vh;
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.inputStyle {
  width: 3rem !important;
  height: 3rem;
  margin: 0 0.5rem;
  font-size: 2rem;
  border-radius: 4px;
  
  border: 1px solid rgba(0,0,0,0.3);
}

.container{
	display: flex;
	flex-flow: column;
	height: 100%;
	align-items: space-around;
	justify-content: center;
}

.userInput{
	display: flex;
	justify-content: center;
	margin: 3rem 9rem;
}

h1{
	text-align: center;
	font-family: arimo;
	color: honeydew;
}


.button1{
	width: 150px;
	height: 40px;
	margin: 25px auto 0px auto;
	font-family: arimo;
	font-size: 1.1rem;
	border: none;
	border-radius: 5px;
	letter-spacing: 2px;
	cursor: pointer;
	background: #9b222294;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9bc5c3, #9c0f0f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f73a0b, #f12307b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
