.modal_header {
  background-color: #337ab7;
  padding: 16px 16px;
  color: #fff;
  border-bottom: 2px dashed #337ab7;
}
.modal_body {
  background-color: #f0f3f5;
}

.error_text {
  color: red;
}

.success_text {
  color: green;
}
