a:hover {
  text-decoration: none;
}

.sidebar__ctrl {
  height: 100vh;
  position: fixed;
  background-color: #f58228;
  color: white;
  padding: auto;
  z-index: 1200;
}

.sidebar__item {
  margin-top: 0.8em;
  padding: 0 0.8em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar__item::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  border-radius: 30px;
}

.sidebar__item::-webkit-scrollbar-track {
  height: 100%;
  border-radius: 30px;
  background: transparent;
}

.sidebar__item::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: linear-gradient(rgb(39, 181, 216), rgb(25, 40, 68));
  /* box-shadow: 2px 2px 2px #fff; */
}

.main-menu-ul {
  height: calc(100vh - 120px);
  list-style-type: none;
}

.main-menu-ul li {
  margin-top: 1.5em;
}

.main-menu-ul li:first-child {
  margin-top: 0;
}

a.sidebar_action {
  color: #fff;
  cursor: pointer;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

a.sidebar_action:hover {
  opacity: 0.8;
}
