a:hover {
  text-decoration: none;
}

.sidebar__ctrl {
  height: 100vh;
  position: fixed;
  background: linear-gradient(180deg, #04166d, #3144a0, #5f6897);
  background: #0c1138;
  /* background: #168d4c; */
  color: white;
  padding: auto;
  z-index: 1200;
}

.sidebar__item {
  min-height: 100vh;
  margin-top: 0.8em;
  /* padding: 0 0.8em; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar__item::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  border-radius: 30px;
}

.sidebar__item::-webkit-scrollbar-track {
  height: 100%;
  border-radius: 30px;
  background: #000000;
  background: #f2f2f2;
}

.sidebar__item::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #818181, #575757, #c9c9c9;
  background: #08a14d;
  background: linear-gradient(to bottom, #06ec6e, #08a14d);
}

.sidebar__item::-webkit-scrollbar-thumb:hover {
  background: #08a14d 40%;
}

.main-menu-ul {
  height: calc(100vh - 120px);
  list-style-type: none;
}

.main-menu-ul li {
  margin-top: 1.5em;
}

.main-menu-ul li:first-child {
  margin-top: 0;
}

a.sidebar_action {
  color: #fff;
  cursor: pointer;
  display: flex;
}

a.sidebar_action:hover {
  opacity: 0.8;
}

.menu__Active {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0.5rem;
  padding-left: 0.6rem;
  background-color: rgba(255, 255, 255, 0.384);
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.menu__inActive {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0.5rem;
  padding-left: 0.6rem;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.menu__inActive:hover {
  background: #f1f1f144;
}

.menu__items {
  width: 100%;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  padding-left: 2.8em;
  text-transform: capitalize;
  opacity: 0.8;
  letter-spacing: 1.5px;
}

.menu__itemsHover:hover {
  color: white;
  font-weight: bolder;
  opacity: 1;
}
