.fixedDeposit{
     background-image: linear-gradient(to right, rgba(10, 10, 185, 0.925) , rgba(107, 107, 240, 0.795));
     width: 32rem;
     height: 3rem;
}
.text{
    font-size: 20px;
    color: whitesmoke;
    padding:5px;
    margin-left:26px; 
}