.headerText{
font-weight: bold;
font-size: 16px;
color:#242222b9
}
.rowText{
font-weight: bold;
font-size: 19px;
color:#242222b9
}
.default{
    color: #000000;
}
.iconSpacing{
    margin-left: 10px;
}
.folderIcon{
    padding:5px;
    margin-left: 10px;
    margin-top: 20px;
}