.pdf {
  margin-left: 10px;
}
.inputBoxesLayout {
  display: flex;
  margin-left: 20px;
}
.boxSpacing {
  margin-left: 20px;
}
.custom__tabel {
  margin-top: 50px;
  overflow-x: scroll;
}

.test td {
  text-align: center;
}
