.page__title,
.account__title {
  padding-bottom: 1rem;
}

.page__title h5,
.account__title h1 {
  font-size: 1.4rem;
  font-weight: 640;
  color: #444242e5;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0px 2px 2px #dfdfdfee;
}

.page__title h6,
.account__title h6 {
  color: #606264;
  font-size: 0.9rem;
}

.page__title h6:hover {
  cursor: pointer;
  text-shadow: 0px 2px 2px #dfdfdfee;
}

.account__title {
  display: inline-flex;
}

.account__title h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
