.page__title,
.account__title {
  padding-bottom: 1rem;
}

.page__title h5,
.account__title h1 {
  font-size: 1.4rem;
  font-weight: 640;
  color: #0a410d;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
}

.page__title h6,
.account__title h6 {
  color: #a3a7ab;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.account__title {
  display: inline-flex;
}

.account__title h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* .AccountName {
  text-transform: uppercase;
} */
