/* ----------------ACTIVITIES STYLE START--------------------------- */
.activity__title {
  font-size: 18px;
  text-transform: capitalize;
}
.list__ctrl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.activity__icon {
  width: 15%;
  display: flex;
  align-items: center;
}

.activity__desc {
  width: 60%;
  padding: 0 8px;
  float: right;
  line-height: 1.1;
  font-size: 14px;
  text-transform: uppercase;
}

.activity__date {
  margin: 0;
  color: rgb(132, 153, 132);
  font-size: 14px;
  margin-top: 8px;
}

.activity__amount {
  width: 25%;
  color: rgb(111, 206, 111);
}
/* ----------------ACTIVITIES STYLE END--------------------------- */

/* ----------------FIXED DEPOSITE STYLE START--------------------------- */
.fixedDeposit {
  background-image: linear-gradient(
    to right,
    rgba(10, 10, 185, 0.925),
    rgba(107, 107, 240, 0.795)
  );
  min-width: 2rem;
  object-fit: contain;
}

.fixedDeposit__text {
  font-size: 20px;
  color: whitesmoke;
  padding: 5px;
  margin-left: 26px;
}
/* ----------------FIXED DEPOSITE STYLE END--------------------------- */

/* ----------------UPCOMING PAYMENT STYLE START--------------------------- */
.card__img {
  text-align: center;
}

.card__title {
  padding-top: 2rem;
  text-align: center;
  color: rgb(110, 110, 110);
  font-size: 16px;
}

.text__ctrl {
  font-size: 13px;
  text-align: center;
}

.card__text {
  padding-top: 1em;
  text-align: center;
}
/* ----------------UPCOMING PAYMENT STYLE END--------------------------- */

/* ----------------PROFILE CARD STYLE END--------------------------- */

.circle-icon {
  background: #444;
  border-radius: 50%;
  border: 3px solid whitesmoke;
}

.quickPay__card__ctrl {
  width: 7rem;
  height: 7rem;
  box-shadow: 0 5px 10px #dfdfdf;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.quickPay__cardBody__ctrl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.cardText {
  font-size: 12px;
  font-weight: bold;
}
/* ----------------PROFILE CARD STYLE END--------------------------- */
