.clock_logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: 40%;
}
.circle-icon {
  background: #fffdfd;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
}
.cardPayItem{
    height: 7rem;
    width: 11rem;
}
.cardText{
    font-Size: 12px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 30%; 
}
.iconType{
  margin-top: 5%;
}
