.statement_datePicker {
  margin-right: 10px;
  text-align: center;
  padding: 2px;
  color: green;
  cursor: pointer;
}

/* .card_Shadow {
  box-shadow: 0 5px 10px #dfdfdf;
} */

.card_Shadow:hover {
  background-color: #fffefd;
  box-shadow: 0px 5px 20px -5px #cfcfcfda;
}
