* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.myPointer {
  cursor: pointer;
}

/* -----------------NavBar Customization START-------------------- */
.navbar__ctrl {
  padding-left: 0;
  padding-right: 0;
  background: #fff;
}

.logo__text {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  color: #f58228;
  margin: 0;
}

.custom__row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.custom__col {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom__col input {
  outline: none;
  border-radius: 20px;
  background-color: #fcfcfc;
}

.search__icon {
  position: relative;
  right: 45px;
  padding: 5px;
  cursor: pointer;
}
.search__icon:active {
  transition: all 0.2s;
  background-color: #f5812883;
  color: #f5812883;
}

.custom__col .form-control:focus {
  outline: orange;
  color: #495057;
  background-color: #fff;
  border-color: #f581289c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(226, 142, 40, 0.493);
}

.badge__ctrl {
  border-radius: 50% !important;
  position: relative;
  top: -5px;
  right: 10px;
  font-size: 10px;
}

.userBalance__inHeader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  padding-left: 2.5rem;
}

.userBalance__inHeader p {
  margin: 0;
  font-size: 14px;
  color: rgb(90, 90, 90);
}
.userBalance__inHeader .header__currency {
  font-weight: bold;
}
/* -----------------NavBar Customization END-------------------- */

/* -----------------SideBar Customization START-------------------- */
.sidebar__color {
  background-color: #f58228;
  color: white;
  min-width: 110px !important;
}
.sidebar__ctrl {
  height: 100vh;
  width: 7%;
  position: fixed;
  padding: 20px;
  background-color: #f58228;
  color: white;
  /* width: 100%; */
  /* height: calc(100vh - 50px); */
  /* z-index: 1200; */
  /* max-width: fit-content; */
  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 5px;
  scrollbar-color: green;
  scroll-margin-top: 50px; */
}
/* -----------------SideBar Customization END-------------------- */

/* -----------------ContentBox Customization START-------------------- */
.contentBox__ctrl {
  padding-top: 1rem;
  background: #f1f1f1;
  padding-left: 1rem;
}

/* -----------------ContentBox Customization END-------------------- */
