a:hover {
  text-decoration: none;
}

.sidebar__ctrl {
  min-height: 100vh;
  position: fixed;
  /* background: linear-gradient(160deg, #010a3a, #061f9e, #0f1b53); */
  background: #01083d;
  /* background: #003002; */
  color: white;
  padding: auto;
  z-index: 1200;
}

.sidebar__item {
  height: 100vh;
  margin-top: 0.8em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar__item::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  border-radius: 30px;
}

.sidebar__item::-webkit-scrollbar-track {
  height: 100%;
  border-radius: 30px;
}

.sidebar__item::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #818181, #575757, #c9c9c9;
  background: #08a14d;
  background: linear-gradient(to bottom, #06ec6e, #08a14d);
}

.sidebar__item::-webkit-scrollbar-thumb:hover {
  background: #08a14d 40%;
}

.menu__Active {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0.5rem;
  padding-left: 0.6rem;
  background-color: rgba(255, 255, 255, 0.384);
  background: #069b3f;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.menu__inActive {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0.5rem;
  padding-left: 0.6rem;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.menu__inActive:hover {
  background: #f1f1f144;
  background: #069b3f;
}

.menu__items {
  width: 100%;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  padding-left: 2.8em;
  text-transform: capitalize;
  opacity: 0.8;
  letter-spacing: 1.5px;
}

.menu__itemsHover:hover {
  color: white;
  color: #069b3f;
  font-weight: bolder;
  opacity: 1;
}

.iconHover:hover {
  font-weight: bolder;
  opacity: 0.8;
}
