.custom__tab {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  border-bottom: 1px solid gray;
}

.tab__text {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

th {
  color: #48434d;
  font-size: 15px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.right-aligned {
  text-align: right;
}
